/* Write your CSS code here */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-image {
  width: 150px;
}
.contact-text {
  color: #551e53;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: bold;
}
